@charset "utf-8";
body {
	background-color: #252525;margin-left: 0px;margin-top: 135px;margin-right: 0px;margin-bottom:0px;
	background-image:url(../images/bg.png); background-repeat:repeat-x;
	font-family:Calibri, Segoe UI, Trebuchet MS, Arial, sans-serif;
	}

.maincontainer{
width:880px;
margin:0 auto;
min-height:400px;
position: relative;
margin-top: -90px;
}
.left{
width:160px;
float:left;}
.right{
width:720px;
float:right;}

.headhome{
width:720px;
height:100px;
background-image:url(../images/head_lucrum.png);
background-repeat:no-repeat;}

#tag{
position: absolute;
margin-left:45px;
margin-top:-12px;
}
.headwork{
width:720px;
height:100px;
background-image:url(../images/head_temp.png);
background-image:no-repeat;}

.fb{
position: relative;
margin-left:430px;
margin-top:-30px;
width:450px;
height:80px;
}
#gplus{
		position:absolute;
		margin-left:380px;
		margin-top:-80px;
}

#tweet{
		position:absolute;
		margin-left:301px;
		margin-top:-80px;
}

.headlinks{
width:720px;
height:100px;
background-image:url(../images/head_links.png);
background-repeat:no-repeat;}

.headcontact{
width:720px;
height:100px;
background-image:url(../images/head_lucrum.png);
background-repeat:no-repeat;}

.headshowcase{
width:720px;
height:100px;
background-image:url(../images/head_lucrum.png);
background-repeat:no-repeat;}

.videoshadow{
position:absolute;
width:611px;
height:49px;
}

.maincontent{
width:540px;
font-family:Calibri, Segoe UI, Trebuchet MS, Arial, sans-serif;
font-size:12px;
line-height:21px;
color:#b1b1b1;
}

.subtitle{
width:540px;
display:block;
font-family:Calibri, Segoe UI, Trebuchet MS, Arial, sans-serif;
font-size:12px;
color:#898989;
font-weight:bold;
height:35px;}
.subleft{
width:240px;
float:left;}
.subright{
width:240px;
float:right;
 }
.footer{
margin-top:100px;
width:540px;font-family:Calibri, Segoe UI, Trebuchet MS, Arial, sans-serif;
font-size:12px;
line-height:21px;
color:#b1b1b1;
display:block;
clear:both;
}
.navigation{
margin-top:100px;
}

div#footer {
	position: absolute;
	margin-top: -60px;
	padding-bottom: 80px;
}			
div#footer ul { list-style: none; }
	div#footer ul li {
	float: left;
	width: 92px;
	margin-right: 0px;
}

div#footer ul li.copyright { margin-right: 0; }
div#footer ul li a{
	background: url('../images/icons/icons.png') no-repeat top left;
	height: 35px;
	display: block;
	padding-left: 54px;
	color: #555;
	font-size: 12px;
	text-decoration: none;
	line-height: 20px;
}
		div#footer ul li.twitter a{ background: url('../images/icons/insta.png') no-repeat top left; }
	div#footer ul li.twitter a:hover { background: url('../images/icons/insta2.png') no-repeat top left; }
		div#footer ul li.help a{ background: url('../images/icons/question.png') no-repeat top left; }
	div#footer ul li.help a:hover { background: url('../images/icons/question2.png') no-repeat top left; }
		div#footer ul li.press a{ background: url('../images/icons/twit4.jpg') no-repeat top left; }
	div#footer ul li.press a:hover { background: url('../images/icons/twit3.jpg') no-repeat top left; }
		div#footer ul li.copyright a{ background-position: 0px -111px; }
	div#footer ul li.copyright a:hover { color: #555; cursor: default; }
		div#footer ul li a span { color: #83b546; }
	div#footer ul li a:hover { color: #ccc; }

ul{
list-style:none;
margin:0px;}

li{
list-style:none;
margin-left:-35px;
font-family:Calibri, Segoe UI, Trebuchet MS, Arial, sans-serif;
font-size:12px;
margin-bottom:5px;}

li.wk{
list-style:none;
margin-left:-40px;
background: url('../images/bullet.png') no-repeat	center left;
padding-left: 25px;
font-family:Calibri, Segoe UI, Trebuchet MS, Arial, sans-serif;
font-size:12px;
margin-bottom:-3px;
}

p{font-family:Calibri, Segoe UI, Trebuchet MS, Arial, sans-serif;
font-size:11.5px;
line-height:21px;
color:#b1b1b1;}

a:link {color: #b2b2b2;
	text-decoration: none;
	padding:1px 2px 1px 2px;
	-o-transition:color .5s ease-out, background .5s ease-in;
  	-ms-transition:color .5s ease-out, background .5s ease-in;
  	-moz-transition:color .5s ease-out, background .5s ease-in;
  	-webkit-transition:color .5s ease-out, background .5s ease-in;
  	transition:color .2s ease-out, background .2s ease-in;
}
a:visited {
	text-decoration: none;
	color: #b2b2b2;
	padding:1px 2px 1px 2px;
}
a:hover {
	text-decoration: none;
	background-color:#181818;
	color: white;}
a:active {
	text-decoration: none;
	color: white;
	outline-style:none;
	border:none;}
a.onpage {
	text-decoration: none;
	background-color:#181818;
	color: white;}	
	
a.alt:link {color: black;
	text-decoration: none;
	
}

a:hover.alt {
	text-decoration: none;
	color: #000000;}
	
a:active {
	text-decoration: none;
	color:white;
	background-color:#333333;
	outline-style:none;
	border:none;}


	
.valid{ width:121px; height:29px;
background-image:url(../images/valid.png);
background-repeat:no-repeat;
display:block;
padding:0px;}

.valid:hover{
background-position:0 -29px;
display:block;
background-color:#252525;}

.workdisplay{
width:540px;
min-height:100px;
background-image:url(../images/hr.png);
background-repeat:repeat-x;
display:block;
clear:both;
padding-top:25px;}

.breadcrumb{
width:540px;
min-height:100px;
background-image:url(../images/hr.png);
background-repeat:repeat-x;
display:block;
clear:both;
padding-top:25px;}

a.th{
background-color:#f5f5f5;
padding:0px;}
a:hover.th{
background-color:#f5f5f5;
}
